
.banner-about {
    border-radius: 25px;
    height: 223px;
    width: 1240px;
    margin: 0 auto 2rem;
    background-image: url(../../assets/img_about.png);
    @media #{$mobile} {
        height: 223px;
        width: 336px;
        background-image: url(../../assets/img_about_mobile.png);
    }
    .background-dark {
        background-color: #000000;
        height: 223px;
        opacity: 0.3;
        border-radius: 25px;
        mix-blend-mode: darken;
        @media #{$mobile} {
            height: 223px;
            width: 336px;
        }
    }
    
}