.nav_link {
    text-decoration: none;
    color: $primary-color;
    font-size: 24px;
    li {
        margin: 1rem;
    }
    :hover {
        color: $primary-color;
    }
}

.inactive {
    color: $primary-color;
    text-decoration: none;
}

.active {
    color: $primary-color;
    text-decoration: underline;
   }