.body {
    margin: auto;
}
.informations {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    color: $primary-color;
    .title {
        width: 635px;
    }
    .profil {
        display: flex;
        align-items: center;
        justify-content: right;
        .name-host {
            font-size: 18px;
            width: 93px;
            text-align: right;
            margin-right: 0.5rem;
        }
        .profil-picture {
            height: 80px;
            width: 80px;
        }
    }
    
    .badge {
        background-color: $primary-color;
        margin-right: 1rem;
        border-radius: 10px;
        padding: 0.5rem 2rem;
        font-size: 14px;
        font-weight: lighter;

    }
}

.banner {
    height: 415px;
    object-fit: cover;
}